# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DockerTest.iml
# Datasource local storage ignored files
/../../../../../../../:\ICT\S3-DB01\DockerTest\.idea\.idea.DockerTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
